policy_module(monero_gui, 1.0)

attribute_role monero_gui_roles;

type monero_gui_t;
monero_gui_exec_t;

userdom_user_application_domain(monero_gui_t, monero_gui_exec_t)

application_domain(monero_gui_t, monero_gui_exec_t)

wm_application_domain(monero_gui_t, monero_gui_exec_t)

role monero_gui_roles types monero_gui_t;

optional_policy(`
        wm_application_domain(monero_gui_t, monero_gui_exec_t)
')

type monero_gui_usr_t;

allow monero_gui_t self:process { signal_perms };
allow monero_gui_t self:fifo_file { rw_fifo_file_perms };
allow monero_gui_t self:netlink_route_socket { bind create getattr getopt nlmsg_read read setopt write };
allow monero_gui_t self:process { getsched ptrace setsched };
allow monero_gui_t self:tcp_socket { connect create getattr getopt read setopt write };
allow monero_gui_t self:unix_dgram_socket { create write };

manage_files_pattern(monero_gui_t, monero_gui_usr_t, monero_gui_usr_t)
manage_dirs_pattern(monero_gui_t, monero_gui_usr_t, monero_gui_usr_t)

xdg_manage_documents_monero_gui(monero_gui_t)

domain_use_interactive_fds(monero_gui_t)

can_exec(monero_gui_t, monero_gui_exec_t)
corecmd_search_bin(monero_gui_t)
corecmd_exec_bin(monero_gui_exec_t)

domain_use_interactive_fds(monero_gui_t)

xserver_stream_connect_xdm(monero_gui_t)

domain_mmap_low_uncond(monero_gui_t)
