policy_module(spotify, 1.0)

type spotify_t;
type spotify_exec_t;
application_domain(spotify_t, spotify_exec_t)

type spotify_home_t;
userdom_user_home_content(spotify_home_t)

manage_files_pattern(spotify_t, spotify_home_t, spotify_home_t)

kernel_list_proc(spotify_t)

corecmd_exec_bin(spotify_t)
corenet_tcp_connect_http_port(spotify_t)

domain_use_interactive_fds(spotify_t)

xserver_stream_connect_xdm(spotify_t)

domain_mmap_low_uncond(spotify_t)
